.font-secondary-bold {
    color: #5C6170;
    font-weight: bold;
}


.btn_primary_dark {
    background-color: red;
    color: #FFFFFF;
    border: 2px solid;
    border-color: red;
    font-weight: bold;
}

.btn_primary_white {
    background-color: white;
    color: red;
    border: 2px solid;
    border-color: red;
    font-weight: bold;  
}


.font-secondary-bold {
    color: #5C6170;
    font-weight: bold;
}

.btn_grey_clair {
    background: #ECECEF;
    border-radius: 4px;
}

.font-primary-bold {
    color: red;
    font-weight: bold;
}


.font-secondary {
    color: #666666;
}


.background-grey-light {
    background-color: #FAFAFA;
}


.font-primary {
    color: red;
}